# Contact form configuration
CONTACT_EMAIL_TO=operations@example.com
CONTACT_EMAIL_FROM=cronium-info@example.com
CONTACT_SMTP_HOST=smtp.example.com
CONTACT_SMTP_PORT=587
CONTACT_SMTP_USER=smtp-user@example.com
CONTACT_SMTP_PASSWORD=super-secret-password
# Set to "true" when using port 465
CONTACT_SMTP_SECURE=false
